.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex > div{
	flex: 1;
}
.slider .swiper-container{
	height: auto
}
.center{
	position: relative;
	z-index: 99;
	margin: 0 15px;
	box-sizing: border-box;
	margin-top: -20px;
}
.center-item:not(:first-child){
	margin-left: 5px;
}
.center-item{
	border-radius: 5px;
	background: #fff;
	box-sizing: border-box;
	padding: 15px 15px 5px;
	border-left: 1px solid #f6f5f4
}
.center-item p{
	font-size: 13px;
	line-height: 20px;
	font-size: 12px;
	color: #999;
}
.center-item p span{
	color: #FF9C00;
}
.center-item .center-right{
	flex: 0.3;
}
.center .title{
	font-size: 16px;
	display: flex;
	align-items: center;
	height: 30px;
}
.center .title img{
	width: 30px;
	height: 30px;
	margin-right: 10px
}
.list{
	margin: 15px 0 40px;
}
.list .scroll{
	line-height: 50px;
	text-align: center;
}
.list li{
	background: #fff;
	border-bottom: 1px solid #f6f5f4;
	padding: 0 15px 15px;
	margin-top: 15px;
}
.list li:last-child{
	border: none;
}
.list li .title{
	display: flex;
	align-items: center;
	height: 50px;
}
.list li .title img{
	width: 30px;
	height: 30px;
	margin-right: 10px
}
.list li .con {
	font-size: 13px;
	color: #666;
}
.list li .con .con-left{
	flex: .45;
}
.list li .con .con-left h2{
	font-size: 20px;
	color: #ff8534;
}
.list li .con .con-left p{
	color: #999;
	line-height: 25px;
}
.list li .con .con-right {
	position: relative;
	margin-left: 15px;
	padding-left: 15px;
}
.list li .con .con-right::after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 2px;
	background: #E6E6E6
}
.list li .con .con-right .con-right-left p{
	line-height: 25px;
}
.list li .con .con-right .con-right-right{
	text-align: right
}
.list li .con .con-right .con-right-right button{
	background: #FF9C00;
	font-weight: normal;
	color: #fff;
	border: none;
	font-size: 13px;
	outline: none;
	padding: 0 15px;
	border-radius: 25px;
	height: 25px;
}
.list li .con .con-right .con-right-right span{
	margin-top: 5px;
	color: #999;
	display: block;
}
.alert{
	max-width: 750px;
	margin: auto;
	z-index: 101;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.mask {
	max-width: 750px;
	margin: auto;
	background: rgba(0, 0, 0, .75);
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}
.close{
	z-index: 101;
	transform: rotate(90deg);
	position: absolute;
	top: 20%;
	right: 10%;
}
.alert, .login {
	margin: auto;
	max-width: 750px;
	z-index: 101;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}
.alert .alert-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.swiper-container {
    height: 300px;
}  
.login-margin{
	max-width: 750px;
	margin: auto;
	z-index: 100;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ecf5fa url("../images/bg.png") no-repeat top center;
	background-size: contain;
	text-align: center;
}
.logo{
	position: relative;
	top: 10%;
	z-index: 101;
	width: 120px;
}
.login{
	max-width: 750px;
	margin: auto;
	background: #fff;
	top: 30%;
	width: 90%;
	border-radius: 10px;
	padding-bottom: 30px;
	bottom: 12%
}
.login li{
	border-bottom: 1px solid #E6E6E6;
	margin: 0 25px;
	color: #4D4D4D;
	font-size: 13px;
	line-height: 45px;
	height: 45px;
}
.login li.flex{
	padding-bottom: 5px;
	align-items: flex-end;
}
.login li input{
	width: 100%;
	outline: none;
	border: none;
}
.login .title{
	text-align: center;
	color: #666;
	font-size: 20px;
	font-weight: 600;
	height: 60px;
	line-height: 60px;
}
.login .code-btn, .login .submit-btn{
	background: url('../images/bg.png') no-repeat center center;
	background-size: 100% 100%;
	display: inline-block;
	text-align: center;
}
.login .code-btn{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	display: inline-block;
	width: 100px;
	border-radius: 20px;
}
.login .code-btn.dis{
	background: #ccc;
	pointer-events: none;
}
.login .submit-btn{
	height: 40px;
	color: #fff;
	line-height: 40px;
	font-size: 17px;
	width: 100%;
	border-radius: 40px;
}
.login .phone{

}
.login .imgcode{
}
.login .code{
}
.login .tip{
	padding: 10px 0;
	color: #B3B3B3;
	font-size: 12px;
	justify-content: start;
	align-items: center!important;
	border-bottom: none
}
.login .tip img{
	height: 12px;
	width: 12px;
	margin-right: 5px;
}
.login .tip span{
	color: #3784F7;
}
.login .btn{
	border-bottom: none
}
.login .close{
}
.error{
	padding-top: 50%;
	text-align: center;
	font-size: 20px;
}
.protocol{
	max-width: 750px;
	margin: auto;
	z-index: 102;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	position: fixed;
}
.protocolclose{
	z-index: 102;
	position: fixed;
	top: 5%;
	right: 2%;
}
.productContent{
	overflow: auto;
	height: 100%;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
}
.iframe{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 103;
	height: 100%;
	width: 100%;
	max-width: 750px;
	margin: auto;
}
.iframe h2{
	color: #fff;
	text-align: center;
	background: #667efb;
	height: 50px;
	line-height: 50px;
}
.iframe iframe{
	width: 100%;
	height: 100%;
	min-height: 100vh;
}
.iframe .back{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 25px;
	transform: scaleY(2) translateY(-2px)
}
[v-cloak] {
  display: none;
}